* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
}


/*****NAVIGATION BAR*****/

/***Needed for displayed nav bar color****/
#navigation-bar-color * {
    color: #E9C46A;
    z-index: 1;
}

/***Needed for collapseable nav bar background color / font styling****/
.bar-color, .navbar-collapse {
    background-color: #155851;
    height: auto;
}

.navbar-brand, .navbar {
    font-size: 30px;
}

.nav-item {
    padding: 10px;
}

/*********GENERAL/MAIN BACKGROUND******/
body {
    background-image: url(../assets/pexels-markus-spiske-360591.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hr-color {
    background-color: #E9C46A;
    margin: 0 0 5px 0;
}


/********About Me Section************/
.main-section {
    width: 90%;
    position: relative;
    background-color: #da370f;
    margin: 20px 0 90px 0;
}

.container img {
    margin: 5px 10px 10px 0;
    width: 350px;
    height: auto;
}

h1, p {
    color: #E9C46A;
}

p {
    padding-bottom: 20px;
}

h1 {
    text-align: center;
}

/********Portfolio Section************/
.portfolio {
    width: 70%;
    position: relative;
    background-color: #da370f;
    margin:20px 0 120px 0;
}

.portfolio .row .col img {
    display: block;
    margin: 0 auto; 
    padding-top: 10%;
    padding-bottom: 10%;
}

/******Contact Me Section**********/

.contact-form-custom {
    width: 400px;
    padding-bottom: 20px;
    background-color: #da370f;
    margin-top: 20px;
}

h2 {
    color: #E9C46A;
}


/*****Footer********/

.footer-custom {
    height: 70px;
    font-size: 15px;
    float: right;
    color: #E9C46A;
    margin-top: 10px;
}

.icon-custom {
    text-decoration: none;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-top: 5px;
    color: #E9C46A;
}



/*******Media Queries*****/

@media screen and (max-width: 575px) {


    /***Removed padding in Bootstrap container allow for full extension of columns****/

    body {
        width: 100%;
    }

    .row .no-gutters {
        margin-right: 0;
        margin-left: 0;
      }

    /***Resize font and images for readability on smaller devices****/
    .container img {
        width: 200px;
        height: auto;
        padding-left: 5px;
        margin-bottom: 10px;
    }

    p {
        padding: 15px;
        font-size: 12px;
        margin-bottom: auto;
    }

    /***Remove excess text and center icons****/
    .footer-custom {
        display: none;
    }

    .icon-custom {
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }


    /***CONTACT MEDIA SECTION Resized for readability***/
    .contact-form-custom {
        margin-top: 70px;
        width: 90%;
    }

 }

 @media screen and (max-width: 767.98px) {
    p {
        padding: 15px;
        font-size: 12px;
        margin-bottom: auto;
    }
 }