* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

a {
    color: white;
}


/*****NAVIGATION BAR & HEADER*****/
.title-area{
  font-family: 'Exo', sans-serif;
  padding-top: 200px;
  color: #e0fbfc;
  font-size: 150px;
}

.nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 1000;
  font-family: 'Exo', sans-serif;
}

nav.navbar a, nav.navbar ul li a {
  color: #FFF !important;
}

nav.navbar ul li {
  padding: 0 15px;
}

nav.navbar .search-container {
  position: relative;
}

nav.navbar form {
  padding: 5px;
  background-color: white;
  position: absolute;
  width: 260px;
  display: none;
}

nav.navbar form input {
  padding: 5px 10px;
  border: 1px solid #b7b5b5;
  background-color: #e6e3e3;
  width: 100%;
}

.navbar-toggler {
  color: #fff;
}

.logo-style {
  height: 100px;
  width: 100px;
  padding-top: 10px;
  padding-left: 15px;
  float: left;
}


/*********GENERAL/MAIN BACKGROUND******/
body {
  background: url(../assets/bg_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

#hr-color {
    background-color: #C6C5B9;
    margin: 0 0 5px 0;
}


/********About Me Section************/
.main-section {
    width: 100%;
    position: relative;
    background-color: #3d5a80;
    margin: 200px 0 90px 0;
    padding-bottom: 150px;
}

.container-fluid img {
    margin: 5px 10px 10px 70px;
    width: auto;
    height: 350px;
}

.profile {
    border-radius: 50%;
}

h1, p {
    font-family: 'Exo';
    color: #e0fbfc;
}

p {
    padding-bottom: 5px;
}

h1 {
    text-align: center;
}

.btn-primary {
    background-color: #C6C5B9;
    color: #475657;
    font-size: 15px;
    border: none;
    margin-bottom: 10px;
}

/********Portfolio Section************/
.portfolio {
    width: 70%;
    position: relative;
    background-color: #3d5a80;
    margin: 150px 0 120px 0;
}

.portfolio .row .col img {
    display: block;
    margin: 0 auto; 
    padding-bottom: 10%;
}

.portfolioHeader {
    font-size: 25px;
    font-weight: 400;
}

#dayPlanImg, #codeQuizImg, #hopsImg, #memeImg {
    width: 350px;
    height: auto;
}

/******Contact Me Section**********/

#contact-us {
  padding: 160px 0px;
}

#contact-us h5 {
  font-weight: 500;
  font-size: 18px;
  color: #1e1e1e;
  letter-spacing: 0.25px;
  line-height: 26px;
}

.contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-text p {
  margin-bottom: 28px;
}

.contact-form input,
.contact-form textarea {
  color: #777;
  font-size: 14px;
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form-custom {
    width: 400px;
    padding-bottom: 20px;
    background-color: #0F084B;
    margin-top: 20px;
}

h2 {
    color: #e0fbfc;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #e0fbfc;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #98c1d9;
  text-transform: uppercase;
  color: #293241;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #e0fbfc;
}


/*****Footer********/

.bar-color {
  background-color: #3d5a80;
}


.footer-custom {
    height: 70px;
    font-size: 15px;
    float: right;
    color: #e0fbfc;
    margin-top: 10px;
}

.icon-custom {
    text-decoration: none;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-top: 5px;
    color: #e0fbfc;
}



/*******Media Queries*****/

@media screen and (max-width: 575px) {


    /***Removed padding in Bootstrap container allow for full extension of columns****/

    body {
        width: 100%;
    }

    .row .no-gutters {
        margin-right: 0;
        margin-left: 0;
      }

    /***Resize font and images for readability on smaller devices****/
    .container-fluid img, #dayPlanImg, #codeQuizImg, #hopsImg, #memeImg {
        width: 200px;
        height: auto;
        padding-left: 5px;
        margin-bottom: 10px;
    }

    .mainSummary {
        padding: 15px;
        font-size: 12px;
        margin-bottom: auto;
    }

    /***Remove excess text and center icons****/
    .footer-custom {
        display: none;
    }

    .icon-custom {
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
    }


    /***CONTACT MEDIA SECTION Resized for readability***/
    .contact-form-custom {
        margin-top: 70px;
        width: 90%;
    }

 }

 @media screen and (max-width: 767.98px) {
    .mainSummary {
        padding: 15px;
        font-size: 12px;
        margin-bottom: auto;
    }
 }