* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#navigation-bar-color * {
    color: rgb(113, 162, 185);
}

.navbar-color {
    background-color: rgb(78, 78, 78);
    height: 70px;
}

.navbar-brand, .navbar {
    font-size: 30px;
    font-family: 'Inconsolata', sans-serif;
}

.nav-item {
    padding: 10px;
}

/*********GENERAL/MAIN BACKGROUND******/
body {
    background-image: url(../assets/pexels-felix-mittermeier-956999.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hr-color {
    background-color: black;
}


/********About Me Section************/
.container {
    width: 90%;
    position: relative;
    background-color: rgb(78, 78, 78);
    margin:0;
    top: 100px;
}

.container img {
    margin-right: 20px;
    margin-top: 5px;
    width: 400px;
    height: auto;
}

h1, p {
    font-family: 'Inconsolata', sans-serif;
    color: rgb(113, 162, 185);
}

p {
    padding-bottom: 10px;
}

h1 {
    text-align: center;
}

/********Portfolio Section************/
.portfolio {
    width: 70%;
    position: relative;
    background-color: rgb(104, 104, 104);
    margin:0;
    top: 100px;
}

.portfolio .row .col img {
    display: block;
    margin: 0 auto; 
    padding-top: 10%;
    padding-bottom: 10%;
}

/******Contact Me Section**********/

.contact-form-custom {
    width: 400px;
    padding-bottom: 20px;
}
